:root {
  --blue: #00aef0;
}

body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 50px;
}

.logo {
  display: block;
  height: 40px;
  width: 40px;
}

.logo__image {
  height: 100%;
  width: 100%;
}

.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-left: 20px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  color: black;
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active {
  color: var(--blue);
}

nav a.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
}
